.container {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.container .col {
  min-width: 200px;
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container .col.result .canvasContainer {
  border: 1px solid var(--border-color);
  position: relative;
}

.container .col.result .canvasContainer .canvasOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  border: none;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  z-index: 1;
  transition: background-color 0.25s;
  font-weight: bold;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &.canvasNext {
    right: 0;
  }
}

.unsavedInput {
  background: linear-gradient(
    -45deg,
    var(--unsaved-gradient-1),
    var(--unsaved-gradient-2),
    var(--unsaved-gradient-1)
  );
  background-size: 400% 400%;
  animation: gradient 1s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}
